$black: #000;
$white: #FFF;
$blue: #3B82F6;
$green: #22C55E;
$red: #EF4444;
$yellow: #FACC15;
$cyan: #06B6D4;
$background: #efeff4;

$colors : (
    'gray': #9E9E9E,
    'dark-gray': #616161,
    'olive': #6d8764,
    'brown': #795548,
    'blue-gray': #607D8B,
    'red': $red,
    'orange': #F97316,
    'deep-orange': #FF5722,
    'amber': #F59E0B,
    'yellow': $yellow,
    'lime': #84CC16,
    'green': #22C55E,
    'light-green': #8BC34A,
    'emerald': #10B981,
    'teal': #14B8A6,
    'aqua': #0ff,
    'cyan': $cyan,
    'sky': #0EA5E9,
    'blue': $blue,
    'light-blue': #03A9F4,
    'indigo': #6366F1,
    'violet': #8B5CF6,
    'purple': #A855F7,
    'deep-purple': #673AB7,
    'fuchsia': #D946EF,
    'pink': #EC4899,
    'rose': #F43F5E,
    'black': $black,
    'primary': $blue,
    'success': $green,
    'danger': $red,
    'warning': $yellow,
    'info': $cyan
);

$font-sans : ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size : 1rem;

$spacing : 1rem;

$border-radius: 1rem;
$border-color: #ccc;