.badge {
    display: inline-block;
    padding: $spacing * 0.35 $spacing * 0.65;
    font-size: $font-size * 0.75;
    font-weight: 700;
    line-height: 1;
    border-radius: $border-radius * 0.375;
    background: $background;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

@each $key, $val in $colors {
    .badge-#{$key} {
        background: $val;
        color: $white;
    }
}